[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.1.0"
flask-sqlalchemy = "*"
jsonschema = "*"
pyjwt = "*"
redis = "*"
requests = "*"
sqlalchemy = "*"
uwsgi = "*"
"nose2" = "*"
dataclasses = "*"
mypy = "*"
flask = "==1.0.3"
arxiv-base = "==0.15.9"
typing-extensions = "*"
arxiv-auth = "==0.3.4rc1"
kombu = "==4.0.2"

[dev-packages]
coverage = "*"
mypy = "*"
"nose2" = "*"
pydocstyle = "*"
pylint = "*"
sphinx-autodoc-typehints = "*"
sphinx = "*"

[requires]
python_version = "3.6"
